@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <small><strong>Blazor MQTT Chat using Blazor (Client-Side), RabbitMQ and Paho</strong></small>
        <a href="https://github.com/icidis" target="_blank" class="ml-md-auto">Created by Ryan Gunn</a>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
